@using AspAndWebpack.Models
@{
    ViewBag.Title = "Home Page";
}

@{
    
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row" ng-controller="mainCtrl">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <h2>{{user.name}}</h2>
        <h3>{{user.address}}</h3>
        <h3>{{message}}</h3>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <ul>
            <li ng-repeat="groc in grocList">
                <ul>@(Html.AngularBrackets<GroceryModel, string>(x => x.GroceryName, "groc"))
                    <li ng-repeat="loc in groc.groceryStoreLocations">{{loc}}</li>
                </ul>
            </li>
        </ul>
        <wait-info message="waitMessage"></wait-info>
        <big-directive data="datar"></big-directive>
    </div>

    
    <div class="col-md-4">
        <input type="text" ng-model="selected" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control">
        <a href="#" editable-text="user1.name">{{ user1.name || 'empty' }}</a>
    </div>
</div>